<div class="jumbotron" ng-controller="MainController as login">
    <form class="form-horizontal" mehtod="post" ng-submit="login.doLogin()">
        <legend>Login</legend>
        <fieldset>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input class="form-control" id="username" placeholder="Username" autocomplete="off" type="text" name="username" ng-model="login.loginData.username">  
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" id="password" placeholder="Password" autocomplete="off" type="password" name="password" ng-model="login.loginData.password">  
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-success">Login</button>
              </div>
            </div>
        </fieldset>
    </form>
</div>