/*
 * Base Styles
 */

html, body {
    height: 100%;
    width: 100%;
}

.container-fluid, .content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.content {
   margin: 4rem 0 0 0;
}

.center {
    text-align: center;
}
/*
 * Main Screen
 */
.navbar {
    padding-left: .5rem;
    padding-right: 1rem;
}
.navbar-brand > i {
    padding-left:.3rem;
    padding-right:.5rem;
}
.jumbotron {
    min-height: 100%;
    width: 100%;
    padding-right: .3rem;
    padding-left: .3rem;
    margin-bottom:0;
}

/*
 * Book Reviews and entry
 */

.panel {
    padding: 0;
}

.panel-body {
    padding:.8rem;
}

.review-container h5,p {
    text-align: left;
}

.review-container .panel-body {
    padding:1rem;
}